.productDetail {
    padding: 30px;
    display: flex;
    justify-content: space-around;

    &__left {
        div {
            width: 250px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                transition: .4s;
            }

            &:hover {
                transition: .4s;

                img {
                    transform: scale(1.075);
                }
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;

        .errorMessage {
            color: red;
            font-size: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1%;
        }

        label {
            font-size: 14px;
            width: 80px;
        }

        .productDetailField {
            position: relative;
            margin-bottom: 15px;
            display: flex;
            align-items: flex-end;

            input {
                cursor: pointer;
                border: none;
                border-bottom: 2px solid rgb(190, 190, 190) !important;
                padding: 5px 5px 0;
                height: 30px;
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;

                &:focus {
                    outline: none;
                    cursor: auto;
                    border-bottom: 2px solid rgb(175, 15, 154) !important;
                }

                &:hover {
                    border-bottom: 2px solid rgb(175, 15, 154) !important;
                }
            }

            .tox-tinymce {}
        }

        .productDetailField--desc {
            display: block;

            .tox-tinymce {
                margin-top: 10px;
            }
        }

        .submitBtn {
            border: none;
            display: block;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            overflow: hidden;
            position: relative;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            background-color: #cb11ab;
            padding: 10px 50px;
            margin: 0 auto;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 10px;
            margin-top: 10px;
            font-size: 12px !important;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 490%;
                width: 140%;
                background: #4A1173;
                -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                -webkit-transform: translateX(-75%) translateY(-25%) rotate(45deg);
                transform: translateX(-75%) translateY(-25%) rotate(45deg);
            }

            &:hover {
                &::after {
                    -webkit-transform: translateX(-5%) translateY(-25%) rotate(45deg);
                    transform: translateX(-5%) translateY(-25%) rotate(45deg);
                }
            }

            .btnName {
                position: relative;
                z-index: 1;
            }

        }

       
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
        width: 350px;
    }
}
.tox-editor-container {
    .tox-statusbar__branding{
        display: none !important;
    }
  
}