.home {
    &__wrapper {
        &__products {
            &__product {
                width: 150px;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                transition: .4s;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__top {
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    height: 200px;

                    img {
                        width: 100%;
                    }

                    .cardDiscount {
                        background-color: #f44;
                        padding: 3px 4px;
                        font-weight: 600;
                        color: white;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        font-size: 12px;
                        border-radius: 5px;
                    }
                }

                &__bottom {
                    .price {
                        display: flex;
                        margin: 10px 0;
                        color: black;

                        h5 {
                            font-weight: 700;
                            font-size: 18px;
                            margin-right: 10px;
                        }

                        span {
                            text-decoration: line-through;
                            font-weight: 500;
                            color: #999;
                        }
                    }

                    .productTitle {
                        p {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 15px;
                            color: #242424;
                        }
                    }
                }

                .cardModalBtn {
                    display: none;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 12px 15px;
                    background-color: rgba(255, 255, 255, .9);
                    border-radius: 15px;
                    width: max-content;
                    font-size: 12px;

                    &:hover {
                        display: block;

                    }
                }

                &:hover {
                    .cardModalBtn {
                        display: block;
                    }

                    transform: scale(1.065);
                    transition: .4s;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .contentBg {
        border-radius: 0;
    }

    .home {
        &__wrapper {
            &__products {
                column-gap: 15px;
                row-gap: 30px;

                &__product {
                    width: 185px;
                    &__top{
                        height: unset;
                    }
                }
            }
        }
    }
}
@media(max-width: 680px) {
    .home {
        &__wrapper {
            &__products {
                column-gap: 5px;
                &__product {
                    width: calc((100% - 8px)/ 2);
                }
            }
        }
    }
}
@media(max-width: 380px) {
    .home {
        &__wrapper {
            &__products {
                &__product {
                    width: 100%;
                    &__top{
                        height: unset;
                    }
                }
            }
        }
    }
}
@media(max-width: 310px) {
    .cardModalBtn{
      display: none !important;
    }
    
}
