.productModalWrapper {
    height: 100vh;
    .productModalWrapperBg {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .productModalConent {
        border-radius: 15px;
        position: fixed;
        left: 50%;
        right: 50%;
        width: 70%;
        height: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: block;
        background-color: white;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        &__left {
            width: 50%;

            img {
                width: 100%;
            }
        }

        &__right {
            padding: 28px 40px 20px;
            width: 50%;

            &__title {
                transition: .4s;
                font-size: 24px;
                font-weight: 700;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    color: #CB11AB;
                    transition: .4s;
                }
            }

            &__info {
                display: flex;
                margin: 12px 0 20px;
                align-items: center;
                font-size: 14px;

                span {
                    svg {
                        color: #CB11AB;
                        font-size: 20px;
                    }
                }

                a {
                    color: #000000;
                    opacity: .6;
                    margin: 0 15px;

                    &:hover {
                        opacity: 1;
                    }
                }

                h5 {
                    span {
                        opacity: .6;
                    }
                }
            }

            h3 {
                font-weight: 700;
                font-size: 24px;
                color: #242424;
                margin-bottom: 20px;

                span {
                    font-size: 14px;
                    opacity: .6;
                    text-decoration: line-through;
                }
            }

            h4 {
                margin-bottom: 16px;
                font-size: 14px;
                color: gray;

                span {
                    color: black;
                }
            }

            .swiper {
                padding: 0 20px;
                .swiper-slide {
                    position: relative;
                    border-radius: 8px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .sadad{
                    overflow: hidden;
                    width: 100px;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    opacity: .4;
                    transition: .4s;
                    top: 50%;

                    &::after {
                        font-size: 20px !important;
                        position: absolute;
                        color: black;
                    }

                    &:hover {
                        opacity: 1;
                        transition: .4s;

                        &::after {
                            color: #CB11AB;
                        }
                    }
                }

                .swiper-button-next {
                    right: 0;
                }

                .swiper-button-prev {
                    left: 0;
                }
            }

            &__buttons {
                display: flex;
                align-items: center;
                margin-top: 24px;

                .addToCart {
                    padding: 15px 15px;
                    width: 90%;
                    background-color: #CB11AB;
                    border: none;
                    border-radius: 8px;
                    color: white;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    img{
                        margin-right: 10px;
                        width: 22px;
                    }
                    &:hover {
                        opacity: .8;
                    }
                }

                .addToFavorite {
                    font-size: 26px;
                    margin-left: 20px;
                }
            }
        }
    }
}

.productModalNone {
    display: none;
}