.detail {
    padding: 30px 0;
    min-height: 800px;

    &__wrapper {
        &__title {
            h1 {
                transition: .4s;
                font-size: 24px;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    color: #CB11AB;
                    transition: .4s;
                }
            }

            &__content {
                display: flex;
                align-items: center;
                margin-top: 20px;
                gap: 20px;

                span {
                    svg {
                        color: #CB11AB;
                        font-size: 18px;
                        transition: .4s;

                        &:hover {
                            color: rgb(255, 208, 0);
                            cursor: pointer;
                            transition: .4s;
                        }
                    }
                }

                &__commentCount {
                    color: #000000;
                    opacity: .6;
                    width: fit-content;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

                h5 {
                    span {
                        opacity: .6;
                    }
                }
            }

        }

        &__top {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            margin-top: 50px;

            &__left {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(255, 255, 255);
                border-radius: 25px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            &__right {
                width: 50%;

                h3 {
                    font-weight: 700;
                    font-size: 31px;
                    color: #242424;
                    margin-bottom: 20px;

                    span {
                        font-size: 18px;
                        opacity: .6;
                        text-decoration: line-through;
                    }
                }

                .counter {
                    display: flex;
                    margin: 40px 0;

                    button {
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #CB11AB;
                        color: white;
                        border-radius: 50%;

                        &:active {
                            transform: scale(0.8);
                        }
                    }

                    span {
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                    }
                }

                h5{
                    margin-bottom: 30px;
                    font-size: 22px;
                    span{
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
                &__buttons {
                    margin-top: 30px;

                    button,
                    a {
                        padding: 15px 10px;
                        width: 50%;
                        background-color: #CB11AB;
                        border: none;
                        border-radius: 8px;
                        color: white;
                        font-size: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: .4s;

                        &:hover {
                            opacity: .8;
                            transition: .4s;
                            transform: scale(0.95);
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        .addToCart {
                            img {
                                margin-right: 10px;
                            }
                        }

                        .addToFavorite {
                            font-size: 26px;
                            transition: .4s;
                            color: #CB11AB;
                            cursor: pointer;

                            &:hover {
                                color: #CB11AB;
                                transform: rotateY(360deg);
                                transition: .4s;
                            }
                        }
                    }

                    .buyBtn {
                        background-color: #CB11AB;
                        color: white;
                        padding: 17.2px 13px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        width: 100%;
                        margin-top: 30px;
                        font-weight: 600;
                        letter-spacing: 1px;

                        i {
                            display: flex;
                            align-items: center;
                            margin-right: 15px;
                            font-size: 19px;
                        }

                    }
                }
            }
        }

        &__bottom {
            margin-top: 30px;
            padding: 15px 0;
            border-top: 1px solid rgb(206, 206, 206);

            h4 {
                font-weight: 700;
                font-size: 31px;
                color: #242424;
                margin-bottom: 20px;

            }
            P{
                line-height: 26px;
                color: #242424;
            }

        }
    }
}