.cabinet {
    padding: 40px 0;
    min-height: 500px;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        &__menu {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 200px;

            span {
                display: contents;

                a {
                    font-size: 18px;
                    font-weight: 600;
                    color: black;
                    padding: 5px 0;
                    width: fit-content;
                }

                .activeCabinetLink {
                    color: #a22bc0;
                    border-bottom: 1px solid #a22bc0;
                }
            }
        }

        .productDetail {
            padding: 0 30px;

            .formFieldWrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                span {
                    width: 48.8%;
                }
            }
        }
    }

}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}

.react-confirm-alert-button-group {
    button {
        transition: .4s;

        &:first-child {

            &:hover {
                background-color: red;
                transition: .4s;
            }
        }

        &:last-child {

            &:hover {
                background-color: rgb(26, 189, 12);
                transition: .4s;
            }
        }
    }
}

.react-confirm-alert-body {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}