.cart {
    background-color: white;
    border-radius: 25px;
    padding: 30px 0;
    position: relative;

    &__wrapper {
        button {
            padding: 15px 15px;
            background-color: #CB11AB;
            border: none;
            border-radius: 8px;
            color: white;
            font-size: 14px;
            display: flex;
            justify-content: center;
            transition: .4s;

            svg {
                margin-right: 5px;
                font-size: 16px;
            }

            &:hover {
                background-color: red;
                transition: .4s;
            }
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 30px;

            &__item {
                width: 156px;
                overflow: hidden;
                cursor: pointer;
                position: relative;

                &__top {
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 156px;
                    }

                    .cardDiscount {
                        background-color: #f44;
                        padding: 3px 4px;
                        font-weight: 600;
                        color: white;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        font-size: 12px;
                        border-radius: 5px;
                    }
                }

                &__bottom {
                    .price {
                        display: flex;
                        margin: 10px 0;

                        h5 {
                            font-weight: 700;
                            font-size: 18px;
                            margin-right: 10px;
                        }

                        span {
                            text-decoration: line-through;
                            font-weight: 500;
                            color: #999;
                        }
                    }

                    .productTitle {
                        p {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 15px;
                            color: #242424;
                        }
                    }
                }

                .cartHeart {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: white;
                    font-size: 22px;
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .cartTick {
                        position: absolute;
                        color: #63117E;
                        font-size: 10px;
                    }

                    .cartTickX {
                        position: absolute;
                        display: none;
                        font-size: 10px;
                        color: white;
                    }

                    &:hover {
                        transform: scale(1.075);
                        transition: .3s;
                        color: #63117E;

                        .cartTick {
                            display: none;
                        }
                        .cartTickX {
                            display: block;
                        }
                    }
                }

                transition: .4s;

                &:hover {
                    transform: scale(1.065);
                    transition: .4s;
                }
            }
        }
    }
}

.CartFull {
    display: none;
}

.CartEmpty {
    width: 100%;
    justify-content: center;
    display: flex;

    img {
        width: 35%;
    }

}