.cart {
    background-color: white;
    border-radius: 25px;
    padding: 30px 0;
    position: relative;

    &__wrapper {
        button {
            padding: 10px 10px;
            background-color: #CB11AB;
            border: none;
            border-radius: 8px;
            color: white;
            font-size: 14px;
            display: flex;
            justify-content: center;
            transition: .4s;

            svg {
                margin-right: 5px;
                font-size: 16px;
            }

            &:hover {
                background-color: red;
                transition: .4s;
            }
        }

        &__content {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 30px;
            position: relative;

            &__tableWrapper {
                width: 70%;
                &__table {
                    font-size: 14px;
                    border-collapse: collapse;
                    text-align: center;
                    width: 100%;

                    thead {
                        tr {
                            th {
                                border-style: solid;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                background-color: #63117E;
                                border-width: 0 1px 1px 0;
                                color: rgb(255, 255, 255);
                                border-bottom: 2px solid rgb(255, 255, 255);
                                border-color: white;
                                max-width: 100px;
                                margin: 0 auto;
                                font-weight: 600;
                                font-size: 15px;
                                height: 45px;
                                vertical-align: middle;
                            }

                            th:first-child {
                                background: #63117E;
                                color: rgb(255, 255, 255);
                                padding: 10px 20px;
                                width: 2%;
                                text-align: left;
                            }

                            .delTh,
                            .editTh {
                                width: 20px;
                                padding: 10px 10px;
                            }
                        }
                    }

                    tbody {

                        .contentRow {
                            position: relative;
                            transition: .4s;
                            cursor: pointer;

                            .cartTd {
                                background-color: #db81ff;
                                vertical-align: middle;
                                height: 50px !important;
                                font-size: 16px;
                                transition: .4s;
                                border-style: solid;
                                border-width: 0 1px 1px 0;
                                border-color: white;
                                max-width: 100px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin: 0 auto;

                                .cartHeart {
                                    color: #fff;
                                    font-size: 28px;
                                    transition: .3s;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;

                                    .cartTick {
                                        position: absolute;
                                        color: #63117E;
                                        font-size: 14px;
                                    }

                                    .cartTickX {
                                        position: absolute;
                                        display: none;
                                        font-size: 14px;
                                        color: #63117E;
                                    }

                                    &:hover {
                                        transform: scale(1.075);
                                        transition: .3s;
                                        color: red;

                                        .cartTick {
                                            display: none;
                                        }

                                        .cartTickX {
                                            display: block;
                                            color: white;
                                        }
                                    }
                                }
                            }

                            td:first-child {
                                background: #63117E;
                                color: rgb(255, 255, 255);
                                padding: 10px 20px;
                                text-align: left;

                            }

                            td:last-child {
                                background: #63117E;
                                color: rgb(255, 255, 255);
                            }


                            &:hover {
                                td {
                                    background-color: #b9f591;
                                    transition: .4s;

                                    &:first-child {
                                        background-color: #63117E;
                                    }

                                    &:last-child {
                                        background-color: #63117E;
                                    }
                                }
                            }
                        }

                        .imgTd {
                            width: 60px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &__bill {
                width: 300px;
                height: 300px;
                background-color: #63117E;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;

                &__top {
                    display: flex;
                    align-items: center;
                    text-align: start;
                    padding: 10px 10px;
                    height: 55px;
                    font-weight: 600;
                    border-bottom: 2px solid #fff;
                }

                &__middle {
                    padding: 10px;
                    height: 100%;
                    overflow-y: auto;
                    list-style: decimal;
                    box-shadow: rgb(64, 0, 84) 3px 3px 6px 0px inset, rgba(62, 1, 70, 0.5) -3px -3px 6px 1px inset;
                    line-height: 22px;

                    li {
                        text-transform: capitalize;
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        padding: 5px 0 0;
                        border-bottom: 1px solid white;

                    }

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #9c9c9c;
                    }
                }

                &__total {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    border-top: 2px solid #fff;

                    span {
                        &:last-child {
                            font-weight: 700;
                        }
                    }
                }

                &__bottom {
                    border-top: 2px solid #fff;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;

                    &__butBtn {
                        width: 100%;
                        padding: 10px 10px;
                        background-color: white;
                        color: #63117E;
                        font-weight: 700;
                        transition: .4s;
                        border-radius: 4px;
                        text-align: center;
                        &:hover {
                            background-color: rgb(255, 255, 255);
                            opacity: .8;
                        }
                    }
                }
            }
        }

        &__contentNone {
            display: none;
        }
    }
}

.CartFull {
    display: none;
}

.CartEmpty {
    width: 100%;
    justify-content: center;
    display: flex;

    img {
        width: 35%;
    }

}

@media(max-width: 852px) {
    .cart {
        &__wrapper {
            &__content {
                flex-direction: column-reverse;
                &__tableWrapper{
                    width: 100%;
                }
                &__bill{
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media(max-width: 682px) {
    .cart {
        padding: 20px 0;

        &__wrapper {
            min-height: 80vh;

            button {
                padding: 5px 5px;
                font-size: 10px;
            }

            .CartEmpty {
                height: 60vh;
                display: flex;
                align-items: center;

                img {
                    width: 70%;
                }
            }

            &__content {
                &__tableWrapper {
                    width: 100%;
                    overflow-x: auto;
                    position: relative;
                    &__table {
                        width: 600px;
                    }
                }
            }
        }
    }
}