.sellerProducts {
    min-height: 70vh;
    width: 100%;
    padding: 0 0 20px 30px;
    position: relative;

    &__wrapper {
        &__products {
            display: flex;
            flex-wrap: wrap;
            gap: 18.6px;

            &__product {
                width: 150px;
                cursor: pointer;
                position: relative;
                transition: .4s;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;

                &__top {
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    height: 200px;

                    img {
                        width: 100%;
                    }

                    .cardDiscount {
                        background-color: #f44;
                        padding: 3px 4px;
                        font-weight: 600;
                        color: white;
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        font-size: 12px;
                        border-radius: 5px;
                    }
                }

                &__bottom {
                    .price {
                        display: flex;
                        margin: 10px 0;
                        color: black;

                        h5 {
                            font-weight: 700;
                            font-size: 18px;
                            margin-right: 10px;
                        }

                        span {
                            text-decoration: line-through;
                            font-weight: 500;
                            color: #999;
                        }
                    }

                    .productTitle {
                        p {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 15px;
                            color: #242424;
                        }
                    }
                }

                .cardButtons {
                    display: none;
                    position: absolute;
                    bottom: -45px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0 5px;
                    width: 100%;
                    align-items: center;
                    background-color: white;

                    button,a {
                        z-index: 10;
                        padding: 5px 10px;
                        border-radius: 4px;
                        background-color: #481173;
                        color: white;
                        font-weight: 600;
                        transition: .4s;
                    }

                    &__delBtn {
                        &:hover {
                            transition: .4s;
                            background-color: red;
                        }
                    }

                    &__editBtn {
                        &:hover {
                            transition: .4s;
                            background-color: rgb(29, 43, 172);
                        }
                    }

                    &__restBtn {
                        &:hover {
                            transition: .4s;
                            background-color: rgb(11, 185, 84);
                        }
                    }
                }

                &:hover {
                    transform: scale(1.065);
                    z-index: 10;

                    .cardButtons {
                        display: flex;
                    }

                    transition: .4s;
                }
            }
        }
    }
}

@media(max-width: 1025px) {
    .sellerProducts {
        &__wrapper {
            &__products {
                gap: 0;
            }
        }
    }
}

@media(max-width: 852px) {
    .sellerProducts {
        padding: 0;

        &__wrapper {
            &__products {
                row-gap: 20px;
                justify-content: space-between;

                &__product {
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width: 682px) {
    .sellerProducts {
        padding: 0;

        &__wrapper {
            &__products {
                row-gap: 20px;
                justify-content: center;

                &__product {
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width: 380px) {
    .sellerProducts {
        &__wrapper {
            &__products {
                row-gap: 70px;

                &__product {
                    width: 100%;

                    &__top {
                        height: 100%;
                    }
                }
            }
        }
    }
}