.buyProducts {
    position: relative;
    &__wrapper {
        &__content {
            padding: 0 0 30px;

            table {
                font-size: 14px;
                border-collapse: collapse;
                text-align: center;

                thead {
                    tr {
                        th {
                            border-style: solid;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            background-color: #63117E;
                            border-width: 0 1px 1px 0;
                            color: rgb(255, 255, 255);
                            border-bottom: 2px solid rgb(255, 255, 255);
                            border-color: white;
                            max-width: 100px;
                            margin: 0 auto;
                            font-weight: 600;
                            font-size: 15px;
                            height: 45px;
                            vertical-align: middle;
                        }

                        th:first-child {
                            background: #63117E;
                            color: rgb(255, 255, 255);
                            padding: 10px 20px;
                            width: 2%;
                            text-align: left;
                        }

                    }
                }

                tbody {
                    .contentRow {
                        position: relative;
                        transition: .4s;
                        cursor: pointer;

                        .buyTd {
                            background-color: #db81ff;
                            vertical-align: middle;
                            height: 50px !important;
                            font-size: 16px;
                            transition: .4s;
                            border-style: solid;
                            border-width: 0 1px 1px 0;
                            border-color: white;
                            max-width: 100px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin: 0 auto;

                            .cartHeart {
                                color: #fff;
                                font-size: 28px;
                                transition: .3s;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                .cartTick {
                                    position: absolute;
                                    color: #63117E;
                                    font-size: 14px;
                                }

                                .cartTickX {
                                    position: absolute;
                                    display: none;
                                    font-size: 14px;
                                    color: #63117E;
                                }

                                &:hover {
                                    transform: scale(1.075);
                                    transition: .3s;
                                    color: red;

                                    .cartTick {
                                        display: none;
                                    }

                                    .cartTickX {
                                        display: block;
                                        color: white;
                                    }
                                }
                            }
                        }

                        &:hover {
                            td {
                                background-color: #b9f591;
                                transition: .4s;
                            }
                        }
                    }

                    .imgTd {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .sectionTtile--buyModified {
            margin: 0;
            padding: 30px 0;
        }
    }
}